<!DOCTYPE html5>
<html lang="es"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCI</title>

    <link href="RPE_files/estilos.css" rel="stylesheet" media="screen">
    <link href="RPE_files/bootstrap.css" rel="stylesheet" media="screen">
    
    <script language="javascript" src="RPE_files/jquery.js"></script>
    <script language="javascript" src="RPE_files/bootstrap222.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <script language="javascript" src="RPE_files/ckeditor.js"></script>               


  </head>

   <body onpageshow="null;event.persisted &amp;&amp; CKEDITOR.tools.callFunction(0)">

<div class="container-fluid">     

     <div class="modal-header1">

     
    	<div class="menu">

        	<p><img src="RPE_files/logo_menu-cci.png" width="50" height="30"></p>

            
        	<p><a href="http://atc/apk_cci_v2/cci.php?pag=home"><span class="glyphicon glyphicon-home">.</span>Inicio</a></p>

                        
                            <!-- <p><a href="?pag=home"><span class="glyphicon glyphicon-home">.</span>Indice</a></p> -->
                <p>
                    </p><div class="btn-group">
                        <!-- <button id="btnServicios" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Indice <span class="caret"></span>
                        </button> -->
                        <a href="#" id="btnServicios" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Indice <span class="caret"></span></a>
                        <ul id="menuServicio" class="dropdown-menu">
                        
                        </ul>
                    </div>
                <p></p>
            

            
             
                 
               

                                    

                 

            <p><a onclick="return window.confirm('Esta seguro que quiere Salir?')" href="http://atc/apk_cci_v2/cci.php?pag=exit"><span class="glyphicon glyphicon-log-out">.</span>Salir</a></p>

             
        <script>

				<!--alert('No cuenta con permisos !!!');-->

		</script>

		
        </div>      		

     </div>

 

<!-- Cuerpo -->

    <div class="modal-content1">

	<span class="glyphicon glyphicon-user">.</span>Bienvenid@: <b>Abel Adalid Quispe Iturry</b><br>  

   <a href="http://atc/cci_finders/roaming/index.php" target="_blank"><span class="glyphicon glyphicon-new-window">.</span>Tarifario Roaming Internacional</a>

  

	 
<div class="panel panel-default table-responsive " style="text-align:center">

 

  <div class="panel-heading"><h2><strong><span class="glyphicon glyphicon-book"></span> PLANES Y TARIFAS RED PRIVADA EMPRESARIAL (RPE)</strong></h2></div>

      <div class="panel-body">

           <p class="text-muted">Última Actualización : 2019-11-07 11:20:54</p>

           <p class="text-muted"> Servicio : POST PAGO </p>

      </div>

      

      <div>
	<span style="color:#f00;">Planes vigentes hasta el 16 de junio de 2019</span></div>
<div>
	&nbsp;</div>
<div>
	<table style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 500px;" width="713" cellspacing="2" cellpadding="2" border="1" align="center">
		<colgroup style="box-sizing: border-box;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;" span="2">
			<col style="box-sizing: border-box; text-align: center;">
		</colgroup>
		<tbody style="box-sizing: border-box;">
			<tr style="box-sizing: border-box;" height="20">
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;"><b style="color: rgb(255, 255, 255); font-family: tahoma, geneva, sans-serif; font-size: 14px; box-sizing: border-box;">Cantidad de líneas&nbsp;</b></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;"><font color="#ffffff"><b>Tarifa Mensual Adicional por Línea (Bs)</b></font></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 2 a 19</span></span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">99</span></span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 20 a 50</span></span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">70</span></span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><font face="tahoma, geneva, sans-serif" color="#336699">De 51 a 200</font></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<p>
						<span style="font-size:12px;"><font face="tahoma, geneva, sans-serif" color="#336699">55</font></span></p>
				</td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 201 a más</span></span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">39</span></span></span></span></span></span></span></td>
			</tr>
		</tbody>
	</table>
	<p style="color: rgb(51, 51, 51); box-sizing: border-box; margin: 0px 0px 10px;">
		&nbsp;</p>
	<div>
		<span style="color:#336699;">Planes vigentes desde el 17 de junio de 2019</span></div>
	<div>
		&nbsp;</div>
	<div>
		<table style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 500px;" width="713" cellspacing="2" cellpadding="2" border="1" align="center">
			<colgroup style="box-sizing: border-box;">
				<col style="box-sizing: border-box; text-align: center;">
				<col style="box-sizing: border-box; text-align: center;">
				<col style="box-sizing: border-box; text-align: center;">
				<col style="box-sizing: border-box; text-align: center;">
				<col style="box-sizing: border-box; text-align: center;" span="2">
				<col style="box-sizing: border-box; text-align: center;">
			</colgroup>
			<tbody style="box-sizing: border-box;">
				<tr style="box-sizing: border-box;" height="20">
					<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
						<span style="color:#ffffff;"><span style="font-size: 14px;"><span style="font-family: tahoma, geneva, sans-serif;"><b style="color: rgb(255, 255, 255); box-sizing: border-box;">Cantidad de líneas&nbsp;</b></span></span></span></td>
					<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
						<span style="color:#ffffff;"><span style="font-size: 14px;"><span style="font-family: tahoma, geneva, sans-serif;"><b>Tarifa por Línea (Bs)</b></span></span></span></td>
				</tr>
				<tr style="box-sizing: border-box;" height="34">
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#336699;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 2 a 50</span></span></span></span></span></span></span></span></td>
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#336699;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">50</span></span></span></span></span></span></span></span></td>
				</tr>
				<tr style="box-sizing: border-box;" height="34">
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#336699;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 51 a 150</span></span></span></span></span></span></span></span></td>
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#336699;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">40</span></span></span></span></span></span></span></span></td>
				</tr>
				<tr style="box-sizing: border-box;" height="34">
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#336699;"><span style="font-size:12px;"><font face="tahoma, geneva, sans-serif">De 151 a más</font></span></span></td>
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<p>
							<span style="color:#336699;"><span style="font-size:12px;"><font face="tahoma, geneva, sans-serif">35</font></span></span></p>
					</td>
				</tr>
				<tr style="box-sizing: border-box;" height="34">
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#f00;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 201 a más </span></span></span></span></span><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">(NO VIGENTE)</span></span></span></span></span></span></span></span></td>
					<td style="box-sizing: border-box; padding: 0px; text-align: center;">
						<span style="color:#f00;"><span style="font-size:12px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">39</span></span></span></span></span></span></span></span></td>
				</tr>
			</tbody>
		</table>
		<p style="color: rgb(51, 51, 51); box-sizing: border-box; margin: 0px 0px 10px;">
			&nbsp;</p>
	</div>
	<ul font-size:="" helvetica="" style="color: rgb(51, 51, 51); box-sizing: border-box; margin-top: 0px; margin-bottom: 10px;">
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">La
 Red privada empresarial (RPE) ofrece a un grupo de instancias móviles 
Postpago poder comunicarse ilimitadamente entre ellos, mediante llamadas
 telefónicas.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">El
 servicio de Red Privada Empresarial estará disponible para usuarios 
nuevos y activos que cuenten con el plan Postpago simple 
ilimitado.&nbsp;</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Pueden habilitar el servicio RPE líneas del mismo titular que pertenecen a los planes Postpago simple ilimitado.&nbsp;</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color:#336699;"><span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Las líneas que conforman el grupo RPE deberán pertenecer a una misma cuenta.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">La facturación del servicio RPE, es mensual y agrupada de acuerdo a la cantidad de líneas y servicios habilitados.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">La
 Tarifa mensual depende de la cantidad de líneas habilitadas, la misma 
se cobrará por cada instancia y se cobrará el monto total en la misma 
cuenta. Cada instancia NO puede pagar de manera independiente su RPE.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Cada grupo debe estar conformado por una cantidad mínima de 2 líneas.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">El
 titular podrá solicitar la habilitación del servicio RPE en distintas 
cuentas siempre y cuando las instancias y/o cuentas estén registradas 
bajo el mismo código de cliente.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">El servicio de RPE es independiente al servicio de números favoritos.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Una misma línea no puede encontrarse en dos grupos RPE en cualquier modalidad.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Las
 instancias en corte temporal, no suman para el grupo RPE. Sólo las 
instancias vigentes/activas cuentan para llegar a la franja de 
descuento.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Las
 nuevas activaciones del servicio RPE tiene una tarifa de Bs10 por alta 
nueva, que será cobrada en la primera factura por única vez.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">Quedan excluidos los planes postpago simple ilimitado que forman parte del combo 4 Play.</span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="color:#336699;">No se aplican prorrateos en alta o baja del servicio RPE en la factura del mes correspondiente.</span></span></span></li>
	</ul>
</div>
<div id="cke_pastebin" style="position: absolute; left: -1000px; top: 12px; width: 1px; height: 1px; overflow: hidden;">
	<table style="background-color: transparent; box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 500px;" width="713" cellspacing="2" cellpadding="2" border="1" align="center">
		<colgroup style="box-sizing: border-box;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;" span="2">
			<col style="box-sizing: border-box; text-align: center;">
		</colgroup>
		<tbody style="box-sizing: border-box;">
			<tr style="box-sizing: border-box;" height="20">
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<b style="color: rgb(255, 255, 255); font-family: tahoma, geneva, sans-serif; font-size: 14px; box-sizing: border-box;">Cantidad de líneas con Win sin límites empresarial</b></td>
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 14px;"><font color="#ffffff"><b>Tarifa Fija Mensual</b></font></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">51 a 60</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">50</span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">61 a 70</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">45</span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<font face="tahoma, geneva, sans-serif" color="#336699">71 a 99</font></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">40</span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">100 a más</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">39</span></span></span></span></span></span></td>
			</tr>
		</tbody>
	</table>
	<p style="color: rgb(51, 51, 51); box-sizing: border-box; margin: 0px 0px 10px;">
		&nbsp;</p>
	<ul font-size:="" helvetica="" style="color: rgb(51, 51, 51); box-sizing: border-box; margin-top: 0px; margin-bottom: 10px;">
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color: rgb(51, 102, 153);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;">Todos los días las 24 horas.</span></span></span></span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color: rgb(51, 102, 153);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;">Cada grupo Win debe estar conformado por una cantidad mínima de 51 líneas suscritas a nombre del mismo usuario</span></span></span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color: rgb(51, 102, 153);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;">Una línea no puede pertenecer a dos grupos WIN en cualquier modalidad.</span></span></span></span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color: rgb(51, 102, 153);"><span style="font-family: tahoma, geneva, sans-serif;">Por
 cambio de franja horaria por cambio de paquete WIN, alta o baja de 
líneas en el grupo según corresponda, implicará el prorrateo o 
recategorización de la tarifa mensual del paquete WIN, en la factura del
 mes correspondiente.</span></span></li>
		<li style="box-sizing: border-box; text-align: justify;">
			<span style="color: rgb(51, 102, 153);"><span style="font-family: tahoma, geneva, sans-serif;">Las nuevas activaciones del servicio Win Sin Límites Corporativo tendrán un precio de Bs10 por línea por evento.</span></span></li>
	</ul>
</div>
<div id="cke_pastebin" style="position: absolute; left: -1000px; top: 261px; width: 1px; height: 1px; overflow: hidden;">
	<table style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 500px;" width="713" cellspacing="2" cellpadding="2" border="1" align="center">
		<colgroup style="box-sizing: border-box;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;">
			<col style="box-sizing: border-box; text-align: center;" span="2">
			<col style="box-sizing: border-box; text-align: center;">
		</colgroup>
		<tbody style="box-sizing: border-box;">
			<tr style="box-sizing: border-box;" height="20">
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<span style="font-size: 14px;"><span style="font-family: tahoma, geneva, sans-serif;"><b style="color: rgb(255, 255, 255); box-sizing: border-box;">Cantidad de líneas&nbsp;</b></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; width: 87px; text-align: center;" bgcolor="#336699">
					<span style="font-size: 14px;"><span style="font-family: tahoma, geneva, sans-serif;"><font color="#ffffff"><b>Tarifa Mensual Adicional por Línea (Bs)</b></font></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 2 a 19</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">99</span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 20 a 50</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">70</span></span></span></span></span></span></td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<font face="tahoma, geneva, sans-serif" color="#336699">De 51 a 200</font></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<p>
						<font face="tahoma, geneva, sans-serif" color="#336699">55</font></p>
				</td>
			</tr>
			<tr style="box-sizing: border-box;" height="34">
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">De 201 a más</span></span></span></span></span></span></td>
				<td style="box-sizing: border-box; padding: 0px; text-align: center;">
					<span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(51, 102, 153);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: tahoma, geneva, sans-serif;">39</span></span></span></span></span></span><br>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<div style="display: none">
<strong><span class="glyphicon glyphicon-comment"></span> Comentarios Anteriores...</strong>



  <table class="table table-condensed">

   

    
  </table>



</div>

  

<div class="panel panel-default table-responsive col-xs-12" style="display: none">

 

  <div class="panel-heading"><span class="glyphicon glyphicon-question-sign"></span> Ayúdanos a Mejorar</div>

      <div class="panel-body">

       

      </div>

<form role="form" action="controller/controller-comentario.php" method="post" name="freporte">

      <div class="form-group col-xs-12">

      <label for="util">Fue util este articulo?</label>

      <div class="radio">

  <label>

    <input type="radio" name="opciones" id="opciones_1" value="1">

    SI

  </label>

     </div>

     <div class="radio">

  <label>

    <input type="radio" name="opciones" id="opciones_2" value="0" checked="checked">

    NO

  </label>

</div>

     

      </div>

      <div class="form-group col-xs-12">

	<label for="observaciones">Comentarios</label>

    <textarea name="comentario" class="form-control" rows="4" placeholder="Aqui..."></textarea>

      </div>

     <div class="form-group col-xs-12" id="ok" align="right">

    <button type="submit" class="btn btn-primary">    

      <span class="glyphicon glyphicon-ok-sign"></span>

      Enviar

    </button>

    <input type="hidden" name="login" value="5780">

    <input type="hidden" name="idc" value="86">

    <input type="hidden" name="ids" value="2">

    <input type="hidden" name="plat" value="116">

    <input type="hidden" name="dep" value="1">

    </div>

</form></div>     

 



<!--PRUEBA-->

   

	</div>	  

  



<!-- Hasta aqui  -->



    

    <div class="modal-footer1">

              

              <center><address style="color:#036; font-size:10px">

                  <h4><strong><img src="RPE_files/logo.png" width="120" height="50"></strong></h4>

                  Derechos Reservados 2018 @ TDI - Datacom<br>

                  Email: SOPORTE APLICACIONES-DATACOM@entel.bo<br>

                  La Paz, Bolivia<br>

              </address></center>

    </div>        

</div>

<script>
    $(document).ready(function(){
        //console.log('Jquery Woking');
        var strHtml = "";
        $('#btnServicios').click(function(){
            //console.log('click');
            $.post("model/model-servicios.php",{
                accion: 'getServicios'
            },
            function(respuesta){
                if(respuesta == "error"){
                    console.log('Consulta menu vacia!');
                    return;
                }
                json_obj = JSON.parse(respuesta);
                //console.log(json_obj);
                json_obj.map(function(elem){
                    strHtml += `
                        <li><a href="?pag=contenido-ser&id=${elem.id_ser}" miAttr='${elem.id_ser}' class='menuServicio'>${elem.servicio}</a></li>
                        `;
                });
                $('#menuServicio').html(strHtml);
                strHtml = "";
            }); 
        });

        

    });
</script>




 </body></html>