HELP.md
### STS ###
/apiFileNode/node_modules/*

### VS Code ###
/apiFileNode/.vscode/


/frontFile/node_modules/*
/frontFile/sw.*
/frontFile/.nuxt/*
/frontFile/.nuxt
/frontFile/dist/*
/frontFile/dist
/frontFile/.git/*
/frontFile/.git
/frontFile/package-lock.json